<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar sesión</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      body {
        background-color: #000; /* Fondo negro */
        color: #fff; /* Texto blanco */
      }
      .container {
        max-width: 100%;
        background-color: #131313; /* Fondo del formulario */
        border-radius: 10px;
        padding: 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        display: flex;
      }
      .container-border {
        margin-top: 5%;
        background: linear-gradient(to top, #e1b700, #000);
        margin: auto;
        width: 80%;
        border-radius: 10px;
        padding: 2px;
      }
      .section {
        width: 50%;
        padding: 5%;
      }
      h1 {
        color: #ffffff;
        font-size: 20px;
      }
      hr {
        background-color: #ba9515;
      }
      .btn-primary {
        background-color: #f1c40f; /* Botón amarillo */
        border-color: #f1c40f; /* Borde del botón amarillo */
      }
      .btn-primary:hover {
        background-color: #e1b700; /* Botón amarillo más oscuro al pasar el ratón */
        border-color: #e1b700; /* Borde del botón amarillo más oscuro */
      }
      .form-control {
        border: none;
        border-radius: 10px;
        background-color: #a3a3a367;
        color: white;
      }
      .form-control::placeholder {
        font-size: 15px;
        color: #ffffff7a;
      }
      label {
        color: #fff9e5;
        font-size: 15px;
      }
    </style>
  </head>
  <body>
    <form
      action="/api/editProduct/<%= product.id %>"
      method="POST"
      enctype="multipart/form-data"
    >
      <div class="container-border">
        <div class="container">
          <div class="section">
            <h1 class="text-center">Editar producto</h1>
            <hr />
            <input
              type="hidden"
              name="currentThumbnail"
              value="<%= product.thumbnail %>"
            />
            <input
              type="hidden"
              name="currentImage1"
              value="<%= product.image1 %>"
            />
            <input
              type="hidden"
              name="currentImage2"
              value="<%= product.image2 %>"
            />
            <div class="form-group">
              <label for="code">Código:</label>
              <input
                type="text"
                id="code"
                name="code"
                class="form-control"
                style="width: 20%; min-width: 30px"
                value="<%= product.code %>"
                required
              />
            </div>
            <div class="form-group">
              <label for="name">Nombre:</label>
              <input
                type="text"
                id="name"
                name="name"
                class="form-control"
                style="width: 90%; min-width: 30px"
                value="<%= product.name %>"
                required
              />
            </div>
            <div style="display: flex">
              <div class="form-group">
                <label for="price">Precio:</label>
                <input
                  type="number"
                  id="price"
                  name="price"
                  class="form-control"
                  style="width: 90%"
                  step="0.01"
                  value="<%= product.price %>"
                  required
                />
              </div>
              <div class="form-group">
                <label for="stock">Stock:</label>
                <input
                  type="number"
                  id="stock"
                  name="stock"
                  class="form-control"
                  style="width: 60%"
                  value="<%= product.stock %>"
                  required
                />
              </div>
            </div>
            <div class="form-group">
              <label for="description">Descripción:</label>
              <textarea
                id="description"
                name="description"
                class="form-control"
                required
              >
  <%= product.description %></textarea
              >
            </div>
            <div class="row" style="margin-top: 15px">
              <div class="col-5">
                <div class="form-group">
                  <label for="size">Tamaño:</label>
                  <input
                    type="number"
                    id="size"
                    name="size"
                    class="form-control"
                    step="0.01"
                    style="width: 90%; min-width: 30px"
                    value="<%= product.size %>"
                    placeholder="00.00 MB"
                    required
                  />
                </div>
              </div>
              <div class="col-5">
                <div class="form-group">
                  <label for="classification">Clasificacion:</label>
                  <select
                    name="classification"
                    id="classification"
                    class="form-control"
                  >
                    <option value="E" <%= product.classification == 'E' ? 'selected' : '' %>>E</option>
                    <option value="E 10+" <%= product.classification == 'E 10+' ? 'selected' : '' %>>E 10+</option>
                    <option value="T" <%= product.classification == 'T' ? 'selected' : '' %>>T</option>
                    <option value="M" <%= product.classification == 'M' ? 'selected' : '' %>>M</option>
                    <option value="A" <%= product.classification == 'A' ? 'selected' : '' %>>A</option>
                    <option value="RP" <%= product.classification == 'RP' ? 'selected' : '' %>>RP</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="category">Category</label>
              <select name="category" id="category" class="form-control">
                <% categories.forEach((category) => { %>
                <option value="<%= category.id %>" <%= product.category_id == category.id ? 'selected' : '' %>>
                  <%= category.name %>
                </option>
                <% }) %>
              </select>
            </div>
            <button type="submit" class="btn btn-primary btn-block">
              Guardar Cambios
            </button>
          </div>

          <div class="section"  style="background-color: #0b0b0bb9">
            <hr>
            <div class="form-group">
              <label for="thumbnail">Miniatura:</label>
              <div class="row">
                <div class="col-3">
                  <img
                    src="/uploads/<%= product.thumbnail %>"
                    alt="Miniatura"
                    style="width: 100px"
                  />
                </div>
                <div class="col-9">
                  <input
                    type="file"
                    id="thumbnail"
                    name="thumbnail"
                    class="form-group"
                    accept="image/*"
                  />
                </div>
              </div>
            </div>
            <hr>
            <div class="form-group">
              <label for="image1">Imagen 1:</label>
              <div class="row">
                <div class="col-3">
                <img
                  src="/uploads/<%= product.image1 %>"
                  alt="Imagen 1"
                  style="width: 100px"
                />
                </div>
                <div class="col-9">
                <input
                  type="file"
                  id="image1"
                  name="image1"
                  class="form-group"
                  accept="image/*"
                />
                </div>
              </div>
            </div>
            <hr>
            <div class="form-group">
              <label for="image2">Imagen 2 actual:</label>
              <div class="row">
                <div class="col-3">
              <img
                src="/uploads/<%= product.image2 %>"
                alt="Imagen 2"
                style="width: 100px"
              />
                </div>
                <div class="col-9">
              <input
                type="file"
                id="image2"
                name="image2"
                class="form-group"
                accept="image/*"
              />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
