<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Font Awesome para los iconos -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Bootstrap Bundle con Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      defer
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
      integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/styles.css" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </head>
  <body style="background-color: #191815">
    <!-- Menú Superior Fijo -->
    <nav
      class="navbar navbar-expand-lg navbar-dark navbar-top"
      style="background-color: #272118"
    >
      <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="#">
          <img src="/uploads/logo.png" width="60" style="margin-right: 10px" />
          Gamunity
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-left"
          id="navbarNav"
        >
          <!-- Barra de Búsqueda -->
          <form
            action="/search"
            method="post"
            class="d-flex search-bar"
            style="color: white; margin-left: 8%"
          >
            <input
              class="form-control"
              type="search"
              placeholder="Buscar..."
              style="
                border: none;
                border-radius: 5px 0px 0px 5px;
                background-color: #4e4e4e;
                color: white;
              "
              aria-label="Search"
              name="search"
            />
            <button
              class="btn btn-warning"
              type="submit"
              style="
                border-radius: 0px 5px 5px 0px;
                border: none;
                background-color: #4e4e4e;
                border-left: 1px solid #b3b3b3;
              "
            >
              <i class="fas fa-search search-icon"></i>
            </button>
          </form>
          <ul class="navbar-nav" style="margin-left: 20px">
            <li class="nav-item">
              <a
                class="nav-link <%= title == 'Inicio'? 'active' : '' %>"
                aria-current="page"
                href="/"
                >Inicio</a
              >
            </li>
          </ul>
          <div class="navbar-icons ms-3 d-flex align-items-center">
            <!-- Carrito -->
            <a
              style="margin-left: 200%"
              href="/cart"
              class="me-3 position-relative"
            >
              <i
                style="color: white"
                class="fas fa-shopping-cart"
                title="Carrito"
              ></i>
              <span
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                >5
                <span class="visually-hidden">items en el carrito</span>
              </span>
            </a>
            <!-- Notificaciones -->
            <a
              href="/notifications/<%= user.id %>"
              class="me-3 position-relative"
            >
              <i
                style="color: white"
                class="fas fa-bell"
                title="Notificaciones"
              ></i>
              <span
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
              >
                3+
                <span class="visually-hidden">notificaciones nuevas</span>
              </span>
            </a>
            <!-- Usuario con Dropdown -->
            <div class="dropdown">
              <a
                href="#"
                class="text-white dropdown-toggle"
                id="dropdownUser"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fas fa-user" title="Usuario"></i>
              </a>
              <ul
                class="dropdown-menu dropdown-menu-end text-center"
                aria-labelledby="dropdownUser"
              >
                <li>
                  <p href="#"><%= user.username %></p>
                </li>
                <li>
                  <p href="#"><%= user.email %></p>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="/logout">Cerrar Sesión</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- Menú Lateral Fijo -->
    <div
      class="sidebar"
      style="
        background: linear-gradient(to bottom, #272118, #383838);
        width: 20%;
        padding-left: 2%;
      "
      ;
    >
      <div style="height: 70%; overflow-y: auto">
        <svg
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M1.71429 0H5.57143V8V16H1.71429C0.767512 16 0 15.2325 0 14.2857V1.71429C0 0.767512 0.767512 0 1.71429 0ZM7 8.71429V16H14.2857C15.2325 16 16 15.2325 16 14.2857V8.71429H7ZM16 7.28571H7V0H14.2857C15.2325 0 16 0.767512 16 1.71429V7.28571Z"
            fill="#CEA205"
          />
        </svg>

        <button
          class="btn btn-dropdown"
          data-bs-toggle="collapse"
          href="#submenuEtiquetas"
          role="button"
          aria-expanded="false"
          aria-controls="submenuEtiquetas"
        >
          CATEGORIAS
        </button>
        <svg
          width="5"
          height="11"
          viewBox="0 0 5 11"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M5 5.5L0.5 0.73686L0.5 10.2631L5 5.5Z"
            fill="#EBB901"
            fill-opacity="0.75"
          />
        </svg>
        <div class="collapse" style="margin-top: 10px" id="submenuEtiquetas">
          <ul class="nav flex-column ms-3">
            <% categories.slice(0, 5).forEach((category) => { %>
            <li class="nav-item">
              <a class="item-drop" href="/category/<%= category.id %>"
                ><%= category.name %></a
              >
            </li>
            <% }); %>
            <!-- Categorías Ocultas -->
            <div style="display: none" id="extraCategories">
              <% categories.slice(5).forEach(category => { %>
              <li class="nav-item">
                <a class="item-drop" href="/category/<%= category.id %>"
                  ><%= category.name %></a
                >
              </li>
              <% }) %>
            </div>
          </ul>
          <button
            id="toggleButton"
            style="border: none; background-color: transparent; color: #b3b3b3"
            class="item-drop"
          >
            Mostrar más...
          </button>
        </div>
      </div>
      <% if (user.rol == 1) { %>
      <div
        style="border-top: 1px solid #b3b3b3; width: 90%; text-align: center"
      >
        <a href="/users">
          <button class="btn btn-actions" href="/users" role="button">
            <svg
              width="25"
              style="margin: 5px"
              viewBox="0 0 30 28"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M11.25 6.01855L25.6206 0.221609C27.7277 -0.597811 30 0.95654 30 3.21734V20.8447C30 23.0385 27.8507 24.5878 25.7694 23.894L11.25 18.8757V6.01855ZM6.42857 6.01868H8.57143V17.8044V18.8758V21.0187C8.57143 22.2022 9.53083 23.1615 10.7143 23.1615H11.7857C12.9692 23.1615 13.9286 24.1209 13.9286 25.3044C13.9286 26.4879 12.9692 27.4472 11.7857 27.4472H10.7143C7.16389 27.4472 4.28571 24.5692 4.28571 21.0187V18.51C1.78887 17.6275 0 15.2463 0 12.4472C0 8.89686 2.87818 6.01868 6.42857 6.01868Z"
                fill="#B6B6B6"
              />
            </svg>
            Usuarios
          </button>
        </a>
        <a href="/products">
          <button class="btn btn-actions" href="/products" role="button">
            <svg
              width="25"
              style="margin: 5px"
              viewBox="0 0 33 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.4416 0.705573C13.8033 0.230655 13.0193 -0.0176776 12.2181 0.000979545H3.53571C2.598 0.000979545 1.69866 0.365665 1.03559 1.01481C0.372511 1.66395 0 2.54438 0 3.46242V26.5386C0 27.4568 0.372511 28.3371 1.03559 28.9863C1.69866 29.6354 2.59797 30 3.53571 30H29.4643C30.402 30 31.3014 29.6354 31.9645 28.9863C32.6276 28.3371 33 27.4568 33 26.5386V8.07767C33 7.15963 32.6276 6.2792 31.9645 5.63007C31.3014 4.98091 30.402 4.61624 29.4643 4.61624H16.2416L15.735 2.63216C15.5411 1.8649 15.0844 1.18385 14.4416 0.705573Z"
                fill="#B6B6B6"
              />
            </svg>
            Productos
          </button>
        </a>
        <a href="/orders">
          <button class="btn btn-actions" role="button">
            <svg
              width="25"
              viewBox="0 0 30 30"
              style="margin: 5px"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M30 15C30 23.2843 23.2843 30 15 30C6.71574 30 0 23.2843 0 15C0 6.71574 6.71574 0 15 0C23.2843 0 30 6.71574 30 15ZM12.3214 11.25C12.3214 9.77066 13.5207 8.57143 15 8.57143C16.4793 8.57143 17.6786 9.77066 17.6786 11.25C17.6786 12.7293 16.4793 13.9286 15 13.9286C14.1124 13.9286 13.3929 14.6481 13.3929 15.5357V16.921C13.3929 17.8086 14.1124 18.5282 15 18.5282C15.8876 18.5282 16.6071 17.8086 16.6071 16.921C19.0805 16.2215 20.8929 13.9474 20.8929 11.25C20.8929 7.99547 18.2545 5.35714 15 5.35714C11.7455 5.35714 9.10714 7.99547 9.10714 11.25C9.10714 12.1376 9.82669 12.8571 10.7143 12.8571C11.6019 12.8571 12.3214 12.1376 12.3214 11.25ZM17.1429 22.5C17.1429 23.6835 16.1835 24.6429 15 24.6429C13.8165 24.6429 12.8571 23.6835 12.8571 22.5C12.8571 21.3165 13.8165 20.3571 15 20.3571C16.1835 20.3571 17.1429 21.3165 17.1429 22.5Z"
                fill="#B6B6B6"
              />
            </svg>
            Pedidos
          </button>
        </a>
      </div>
      <% } %>
    </div>
    <div class="content"><%- body %></div>
    <script>
      document
        .getElementById("toggleButton")
        .addEventListener("click", function () {
          const extraCategories = document.getElementById("extraCategories");
          const toggleButton = document.getElementById("toggleButton");

          if (
            extraCategories.style.display === "none" ||
            extraCategories.style.display === ""
          ) {
            // Mostrar las categorías ocultas
            extraCategories.style.display = "block";
            toggleButton.innerText = "Mostrar menos";
          } else {
            // Ocultar las categorías adicionales
            extraCategories.style.display = "none";
            toggleButton.innerText = "Mostrar más";
          }
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
