<div class="container-border">
  <div class="container-table">
    <h1 class="text-center">Lista de Productos</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Miniatura</th>
          <th scope="col">Código</th>
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
          <th scope="col">Stock</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% products.forEach(function(product) { %>
        <tr>
          <td>
            <img
              src="/uploads/<%= product.thumbnail %>"
              class="thumbnail"
              width="40px"
            />
          </td>
          <td><%= product.code %></td>
          <td><%= product.name %></td>
          <td><%= product.price %></td>
          <td><%= product.stock %></td>
          <td>
            <a
              href="api/editProduct/<%= product.id %>"
              class="btn btn-warning btn-sm"
              >Editar</a
            >
            <form
              action="api/deleteProduct/<%= product.id %>"
              method="POST"
              style="display: inline"
            >
              <button type="submit" class="btn btn-danger btn-sm">
                Eliminar
              </button>
            </form>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <a
      href="api/createProduct"
      class="btn btn-warning btn-sm"
      style="
        color: white;
        padding: 10px;
        background-color: #ba9515;
        border: none;
      "
      >+ Nuevo Producto</a
    >
  </div>
</div>
